
<div class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-default nav">

            <div class="navbar-header">
                <ul>
                    <li>
                        <h3 class="title">We Connect</h3>
                    </li>
                    <li>
                        <a class="navbar-employer" ui-sref="employers">Employer LogIn</a>
                        <i class="fa fa-building icon" aria-hidden="true"></i>
                    </li>
                    <li>
                        <a class="navbar-employee" ui-sref="employees">Employee LogIn</a>
                        <i class="fa fa-briefcase icon" aria-hidden="true"></i>
                    </li>

                </ul>
            </div>

        </nav>


        <hr>
        <h2 class="row">How it works ?</h2>
        <p>We-Connect is place where you come to gain experience,Work and contribute for a real life project.
            <br>For you as an employer its a chance to find new talent when you give them the ultimate test of working on a real
            project
        </p>
        <hr>

        <div class="two-side row">
            <div class="employers">
                <h2>Employers</h2>
                <hr>

                <ul>
                    <li>Find new talent</li>
                    <li>Get free projects for free</li>
                </ul>

                <button type="button" class="btn btn-default navbar-btn" ng-click="showme=true" ng-hide="showme" ui-sref="employer-signup">Employers Sign Up</button>

            </div>

            <div class="employees">
                <h2>Employee</h2>
                <hr>
                <ul>
                    <li>Gain real world experience</li>
                    <li>Get hired for full/part time positions</li>
                </ul>


                <button type="button" class="btn btn-default navbar-btn" ng-click="show=true" ng-hide="show" ui-sref="employee-signup">Employees Sign Up</button>

            </div>
        </div>
        <hr>
    </div>
</div>
